body {
    margin: 0;
    background: #fff;
}

/* Logo */

div.logo {
    width: 164px;
    height: 73px;
    margin: 20px auto 0;
}

img#draft-logo {
    width: 100%;
    height: 100%;
}

img#draft-logo:hover {
    cursor: pointer;
    background: #eee;
}

div.container {
    width: 80%;
    height: 450px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #000;
}

/* Markdown container */

#markdown-container {
    width: 50%;
    height: 100%;
    background: #fff;
    border-right: 1px solid #000;
    box-sizing: border-box;
    float: left;
}

.markdown-container-mdmode {
    width: 100%!important;
    border-right: none!important;
}

.preview-container-mdmode {
    display: none!important;
}

#markdown-container>#markdown-area {
    box-sizing: border-box;
    padding: 20px;
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
}

/* Preview container */

#preview-container {
    width: 50%;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
    float: left;
    padding-left: 10px;
    overflow: auto;
    overflow-x: hidden;
}

.markdown-container-premode {
    display: none;
    border-right: none!important;
}

.preview-container-premode {
    width: 100%;
}


/* Toolbar */

div.draft-toolbar {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #000;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
}

ul.draft-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}

.draft-menu>li {
    display: inline-block;
    position: relative;
    width: 33px;
    height: 35px;
}

svg.icon {
    padding: 2px;
}

svg.icon:hover {
    background: #ddd;
    padding: 1px;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
}

/* Divider */

.draft-menu>li.divider {
    height: 66%;
    width: 0;
    text-indent: -99999px;
    border-right: 2px solid #ccc;
    position: relative;
    top: -7px;
    left: 2px;
    box-sizing: border-box;
}

/* Custom scroll bar */

::-webkit-scrollbar {
    width: 9px;
    background: #eee;
}

::-webkit-scrollbar-track {
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: rgb(217, 217, 217);
}

/* Tooltip */
span.tooltip {
    visibility: hidden;
    width: 80px;
    background-color: #ddd;
    color: #000;
    text-align: center;
    position: absolute;
    padding: 5px;
    top: -10px;
    left: -25px;
    font-size: 0.6em;
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
    transition: opacity 0.8s, top 0.5s;
}

.draft-menu > li:hover .tooltip{
    opacity: 1;
    top:-25px;
    visibility: visible;
}

/* Wrapper */
div.wrapper {
    width: 80%;
    margin: 0 auto 10px;
}

/* Switch */
div.switch {
    font-weight: bold;
    font-size: 0.65em;
    
}

div.switch p {
    margin: 0;
}


div.switch  a{
    text-decoration: none;    
    color: #000;
    width: 32px;
    height: 20px;
    line-height: 20px;  
    text-align: center;
    display: inline-block;
}

div.switch  a:hover {
    opacity: 0.6;
}

a.on {
    color: #fff!important;
    background: #000;
}


/* Modal */

.modal {
    position: fixed; 
    z-index: 99999; 
    padding-top: 250px; 
    padding-left: 15%;
    left: 0;
    top: 0;
    width: 40%; 
    height: 100%; 
    overflow: auto; 
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    z-index: 99999;
    margin: auto;
    padding: 5px 15px;
    border: 2px solid #000;
    width: 80%;
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 20px!important;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* About Modal */
.about-modal {
    font-family: 'Montserrat', sans-serif;
}

.about-modal p {
    font-size: 14px;
}

.about-h1 {
    font-size: 25px;
}

.about-h1 small {
    font-size: 15px;
    font-weight: normal;
    color: #aaa;
}

p.about-link a{
    text-decoration: underline;
    color: #000;
}

p.about-link a:hover{
    background: #000;
    color: #fff;
}

p.about-info a{
    text-decoration:none;
    color: #000;
}

p.about-info a:hover{
    background: #000;
    color: #fff;
}

/* CodeBlock Modal */

div#codeblock-selectbar {
    margin: 10px 0;
}

div#codeblock-cnt {
    height: 300px;
    margin-bottom: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
}

div#codeblock-footer a {
    float: right;
    padding: 5px 5px;
    border: 1px solid #000;
    color: #000;
    width: 50px;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}

div#codeblock-footer a:hover {
    background: #eee;
}

div#codeblock-footer:after {
    content: "";
    display: block;
    clear: both;
}

#codeblock-selectbar {
    padding: 0;
    margin: 0;
    border: 1px solid #000;
    width: 200px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
}

#codeblock-selectbar:after {
    top: 50%;
    left: 90%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
}

#codeblock-selectbar select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#codeblock-selectbar select:focus {
    outline: none;
}

/* Table Modal */
div#table-cnt {
    width: 90%;
    text-align: center;
    margin: 30px auto 20px;
}

div#table-cnt span {
    font-weight: bold;
}

input.num-input {
    height: 22px;
    width: 12%;
    outline: none;
    font-size: 12px;
    font-weight: bold;
    border: #000 1px solid;
    padding-left: 10px;
    text-decoration: none;
    margin: 0 10px 0 5px;
}

div#table-footer a {
    float: right;
    padding: 5px 5px;
    border: 1px solid #000;
    color: #000;
    width: 50px;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}

div#table-footer a:hover {
    background: #eee;
}

div#table-footer:after {
    content: "";
    display: block;
    clear: both;
}